name: .NET CI

on:
  push:
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore dependencies
        run: dotnet restore ./picpay_challenge.sln

      - name: Build solution
        run: dotnet build ./picpay_challenge.sln --configuration Release --no-restore

      - name: Run tests
        run: dotnet test ./picpay_challenge.sln --no-build --verbosity normal

      - name: Publish main project
        run: dotnet publish ./src/picpay_challenge/picpay_challenge.csproj -c Release -o ./publish

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: app
          path: ./publish
